@import "./Colors/Mocha.css";

* { 
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14pt;
  min-height: 0;
  transition: none;
}

window#waybar {
  background: @base;
  border-radius: 0;
  color: @text;
}

tooltip {
  border: 1px solid @surface1;
  background: @surface0;
}


/* Left Modules */

#workspaces {
}

#workspaces button {
  color: @text;
}

#workspaces button.active {
  color: @green;
  border-radius: 0;
  /* border-bottom: 2pt solid @green */
}

/* Center Modules */

#cpu {
  padding-right: 5pt;
  color: @red;
}

#clock {
  padding-right: 5pt;
  padding-left: 5pt;
  color: @sapphire;
}

#memory {
  padding-left: 5pt;
  color: @green;
}

/* Right Modules */

#network {
  color: @blue;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @maroon;
}

#battery {
  color: @sky;
}

#language {
  color: @green;
}

#network, #backlight, #pulseaudio, #battery, #language, #tray {
  padding-left: 5pt;
  padding-right: 5pt;
}

#custom-powermenu {
  padding-left: 5pt;
  padding-right: 10pt;
  color: @red;
}
