@import "./Colors/Mocha.css";

* { 
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12.5pt;
  min-height: 0;
  transition: none;
}

window#waybar {
  background: @transparent;
  border-radius: 0;
  color: @text;
}

tooltip {
  border: 1px solid @surface1;
  background: @surface0;
}


/* Left Modules */

#workspaces {
  background: @base;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20pt;
  padding-right: 7pt;
  padding-left: 2pt;
}

#workspaces button {
  color: @text;
}

#workspaces button.active {
  color: @green;
  border-radius: 0;
  /* border-bottom: 2pt solid @green */
}




/* Center Modules */

#cpu {
  background: @base;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right: none;
  border-radius: 20pt 0pt 0pt 20pt;
  padding-right: 5pt;
  padding-left: 7pt;
  color: @red;
}

#clock {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right: none;
  border-left: none;
  background: @base;
  padding-right: 5pt;
  padding-left: 5pt;
  color: @sapphire;
}

#memory {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right: none;
  border-left: none;
  border-radius: 0pt 20pt 20pt 0pt;
  background: @base;
  padding-left: 5pt;
  padding-right: 7pt;
  color: @green;
}

/* Right Modules */

#custom-weather {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right: none;
  border-radius: 20pt 0pt 0pt 20pt;
  background: @base;
  color: @mauve;
  padding-right: 5pt;
}

#network {
  padding-left: 8pt;
  background: @base;
  color: @blue;
}

#backlight {
  background: @base;
  color: @yellow;
}

#pulseaudio {
  background: @base;
  color: @maroon;
}

#battery {
  background: @base;
  color: @sky;
}

#language {
  background: @base;
  color: @green;
}

#network, #backlight, #pulseaudio, #battery, #language, #tray {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right: none;
  border-left: none;
  padding-left: 5pt;
  padding-right: 5pt;
}

#tray {
  background: @base;
}

#custom-powermenu {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-left: none;
  border-radius: 0pt 20pt 20pt 0pt;
  background: @base;
  padding-left: 7pt;
  padding-right: 10pt;
  color: @red;
}

