@define-color rosewater   #f2f4f8;
@define-color flamingo    #ee5396;
@define-color pink        #ff7eb6;
@define-color mauve       #be95ff;
@define-color red         #fa4d56;
@define-color maroon      #da1e28;
@define-color peach       #ff832b;
@define-color yellow      #fddc69;
@define-color green       #42be65;
@define-color teal        #1192e8;
@define-color sky         #78a9ff;
@define-color sapphire    #4589ff;
@define-color blue        #0f62fe;
@define-color lavender    #a6c8ff;
@define-color text        #f2f4f8;
@define-color base        #161616;
@define-color mantle      #262626;
@define-color crust       #0c0c0c;
@define-color surface0    #393939;
@define-color surface1    #525252;
@define-color surface2    #6f6f6f;
@define-color overlay0    #8d8d8d;
@define-color overlay1    #a8a8a8;
@define-color overlay2    #c6c6c6;
@define-color subtext0    #dde1e6;
@define-color subtext1    #f2f4f8;

